<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">

        <% @projects.each do |project| %>

        <div class="container mx-auto px-4" id="content">
          <section class="py-8 px-4">
            <div class="flex flex-wrap -mx-4">
              <div class="w-full lg:w-1/4 px-4 mb-4 lg:mb-0">
                <div class="h-full border rounded shadow">
                  <div class="flex items-center justify-between px-4 py-3 border-b">
                    <%= link_to project do %>
                    <h3 class="text-lg font-heading"><%= project.name %></h3>
                    <% end %>
                    <span class="py-1 px-3 text-sm text-white font-semibold bg-purple-500 rounded-full">Today</span>
                  </div>
                  <div class="flex flex-col p-4">
                    <h3><%= project.description %></h3>
                    <span class="mt-5">Complete</span><span class="text-green-500">82%</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <% end %>

  </div>
</main>
